---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout
	title="Lina Aparicio | Portafolio"
	description="Esta es una selección de los proyectos que he realizado como Desarrolladora Web y en los que también he aplicado mi experiencia y habilidades como Project Manager"
>
	<main class="px-5">
		<!-- Top -->
		<SectionContainer id="top" class="py-52 md:py-56 pt-44 text-center">
			<h1
				class="main-title text-5xl md:text-6xl flex justify-center flex-row pb-6"
			>
				Lina Aparicio Alvarez
			</h1> 
			<h2 class="description text-xl flex justify-center pb-4">
				Desarrolladora Web | Project Manager | Ingeniera de Diseño de
				Producto
			</h2>
			<ul
				class="social-container flex justify-center items-center gap-x-7"
			>
				<li class="hover:scale-110 transition">
					<a
						href="https://www.linkedin.com/in/linaaparicio-developer-frontend-fullstack/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<LinkedinIcon class="size-8" />
					</a>
				</li>
				<li class="hover:scale-110 transition">
					<a
						href="https://github.com/suaviaparicio"
						target="_blank"
						rel="noopener noreferrer"
					>
						<GitHubIcon class="size-8" />
					</a>
				</li>
			</ul>
		</SectionContainer>

		<!-- Experiencia -->
		<SectionContainer id="experiencia" class="mb-32 md:mb-40 scroll-mt-80 md:scroll-mt-24">
			<h2 class="title text-4xl font-semibold mb-10">Experiencia</h2>
			<div class="flex justify-center gap-x-10">
				<Experience />
			</div>
			<a href="/lina_aparicio_2024es.pdf"
				target="_blank"
				rel="noopener noreferrer"
			>
				<button
					class="bg-[#A9D6E0] border-2 border-[#575757] rounded-[10px] shadow-[4px_4px_0_0_#575757] text-black cursor-pointer inline-block text-md px-4 leading-[30px] text-center select-none duration-300 hover:bg-white active:shadow-[2px_2px_0_0_#575757] active:translate-x-[2px] active:translate-y-[2px] mr-5"
				>
					CV - Español
				</button>
			</a>
			<a href="/lina_aparicio_2024en.pdf"
				target="_blank"
				rel="noopener noreferrer"
			>
				<button
					class="bg-[#A9D6E0] border-2 border-[#575757] rounded-[10px] shadow-[4px_4px_0_0_#575757] text-black cursor-pointer inline-block text-md px-4 leading-[30px] text-center select-none duration-300 hover:bg-white active:shadow-[2px_2px_0_0_#575757] active:translate-x-[2px] active:translate-y-[2px]"
				>
					CV - English
				</button>
			</a>
		</SectionContainer>

		<!-- Proyectos -->
		<SectionContainer id="proyectos" class="mb-32 md:mb-40 scroll-mt-80 md:scroll-mt-24">
			<h2 class="title text-4xl font-semibold mb-10">Proyectos</h2>
			<div class="flex justify-center gap-x-10">
				<Projects />
			</div>
		</SectionContainer>

		<!-- Skills -->
		<SectionContainer id="skills" class="mb-32 md:mb-40 scroll-mt-80 md:scroll-mt-24">
			<h2 class="title text-4xl font-semibold mb-10">Skills Técnicos</h2>
			<div class="flex  gap-x-10">
				<Skills/>
			</div>
		</SectionContainer>

		<!-- Contacto -->
		<SectionContainer id="contacto" class="mb-32 md:mb-40 scroll-mt-80 md:scroll-mt-24">
			<h2 class="title text-4xl font-semibold mb-10">Contacto</h2>
			<div class="flex justify-center gap-x-10">
				<Contact/>
			</div>
		</SectionContainer>
		
	</main>
</Layout>
