---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
---

<Layout
	title="Lina Aparicio Portfolio"
	description="Portafolio de Lina Aparicio: Desarrolladora Web junior y Project Manager"
>
	<main class="px-5">
		<!-- Top -->
		<SectionContainer id="top" class="py-96 pt-80">
			<h1
				class="main-title text-5xl md:text-4xl lg:text-6xl flex justify-center flex-row pb-6"
			>
				Lina Aparicio Alvarez
				<!-- <div class="flex justify-center items-center">
					<Badge>Disponible para contratar</Badge>
				</div> -->
			</h1>
			<h2 class="description text-xl flex justify-center pb-4">
				Desarrolladora Web | Project Manager | Ingeniera de Diseño de
				Producto
			</h2>
			<ul
				class="social-container flex justify-center items-center gap-x-7"
			>
				<li class="hover:scale-110 transition">
					<a
						href="https://www.linkedin.com/in/linaaparicio-developer-frontend-fullstack/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<LinkedinIcon class="size-8" />
					</a>
				</li>
				<li class="hover:scale-110 transition">
					<a
						href="https://github.com/suaviaparicio"
						target="_blank"
						rel="noopener noreferrer"
					>
						<GitHubIcon class="size-8" />
					</a>
				</li>
			</ul>
		</SectionContainer>

		<!-- Experiencia -->
		<SectionContainer id="experiencia" class="mb-40">
			<h2 class="title text-4xl font-semibold mb-10">Experiencia</h2>
			<div class="flex justify-center gap-x-10">
				<Experience />
			</div>
			<!-- PENDIENTE CÓMO DESCARGAR EL CV -->
			<!-- <button
				class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-md font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-[#a9d6e0] group-hover:from-cyan-500 group-hover:to-[#a9d6e0] hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-[#a9d6e0] dark:focus:ring-cyan-800"
			>
				<span
					class="relative px-5 py-1.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
				>
					Descargar CV
				</span>
			</button> -->

			<button
				class="bg-[#A9D6E0] border-2 border-[#575757] rounded-[10px] shadow-[4px_4px_0_0_#575757] text-black cursor-pointer inline-block text-md px-4 leading-[30px] text-center select-none duration-300 hover:bg-white active:shadow-[2px_2px_0_0_#575757] active:translate-x-[2px] active:translate-y-[2px]"
			>
				Descargar CV
			</button>
		</SectionContainer>

		<!-- Proyectos -->
		<SectionContainer id="proyectos" class="mb-40">
			<h2 class="title text-4xl font-semibold mb-10">Proyectos</h2>
			<div class="flex justify-center gap-x-10">
				<Projects />
			</div>
		</SectionContainer>

		<!-- Skills -->
		<SectionContainer id="skills" class="mb-40">
			<h2 class="title text-4xl font-semibold mb-10">Skills Técnicos</h2>
			<div class="flex  gap-x-10">
				<Skills />
			</div>
		</SectionContainer>

		<!-- Contacto -->

		<!-- Footer -->
		
	</main>
</Layout>
