---
import ExperienceItem  from "./ExperienceItem.astro";
import WebIcon from "./icons/experience/Web.astro";
import ProjectIcon from "./icons/experience/Project.astro";
import EngineernIcon from "./icons/experience/Engineer.astro";

const EXPERIENCE = [
    {
        title: "Desarrolladora Web",
        description: "Más de 1 año de experiencia en el desarrollo de aplicaciones web, gracias a una reciente transición profesional.",
        icon: WebIcon,
    },
    {
        title: "Project Manager",
        description: "Experiencia de más de 5 años liderando proyectos de expansión regional e innovación educativa.",
        icon: ProjectIcon,
    },
    {
        title: "Ingeniera de Diseño de Producto",
        description: "Título obtenido en la universidad Eafit en el año 2015, con énfasis en Gerencia de proyectos.",
        icon: EngineernIcon,
    },
]
---
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {
        EXPERIENCE.map(experience => (
            <article class="experience-card group m-h-64 w-full p-5 mb-10 border-l-2 border-t-2 border-r-2 border-b-[11px] border-[#575757] transition-all duration-400 ease-in-out hover:scale-105 hover:border-b-[#A9D6E0] grid-cols-1 md:grid-cols-2">
                <experience.icon class="group-hover:text-[#A9D6E0]" />
                <ExperienceItem {...experience} />
            </article>
        ))
    }
</div>

<!-- Responsive:
grid-cols-1 md:grid-cols-2 lg:grid-cols-3 -->

