---
interface Props {
    title: string;
    description: string;
    icon: (props: Record<string, any>) => any;
}
    const { title, description, icon } = Astro.props;

---

    <icon />
    <h3 class="subtitle text-2xl font-medium pb-4 text-balance">{title}</h3>
    <p class="">{description}</p>
