<footer class="bg-white dark:bg-gray-900">
    <div class="xl:w-[1120px] mx-auto w-full max-w-screen-xl px-5 py-3 mt-10">
        <div class="px-4 py-6 bg-gray-200 dark:bg-gray-700 md:flex md:items-center md:justify-between">
        <!-- <div class="px-4 py-6 bg-[#a9d6e0] dark:bg-gray-700 md:flex md:items-center md:justify-between"> -->
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
                <ul class="flex flex-wrap items-center mt-3 text-md font-medium text-[#575757] dark:text-gray-400 sm:mt-0">
                    <li>
                        <a href="#top" class="hover:underline me-4 md:me-6">Home</a>
                    </li>
                    <li>
                        <a href="#experiencia" class="hover:underline me-4 md:me-6">Experiencia</a>
                    </li>
                    <li>
                        <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
                    </li>
                    <li>
                        <a href="#skills" class="hover:underline me-4 md:me-6">Skills</a>
                    </li>
                    <li>
                        <a href="#contacto" class="hover:underline">Contacto</a>
                    </li>
                </ul>

                <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
                    <a
                        href="https://www.linkedin.com/in/linaaparicio-developer-frontend-fullstack/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-gray-400 hover:text-[#575757] dark:hover:text-white"
                    >
                    <svg
                        class="size-6"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid"
                        viewBox="0 0 256 256"
                    >
                    <path
                        d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
                    ></path></svg
                    >
                    <span class="sr-only">Linkedin account</span>
                    </a>

                    <a
                        href="https://github.com/suaviaparicio"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-gray-400 hover:text-[#575757] dark:hover:text-white"
                    >
                    <svg
                        class="size-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                    </a>
                </div>
            </div>
        </div>
            <!-- <span
                class="text-sm text-gray-500 dark:text-gray-300 sm:text-center"
                >© 2023 Lina Aparicio</a>. All
                Rights Reserved.
            </span> -->
        </div>
    </div>
</footer>
