---
const { class: className, id } = Astro.props
---

<!-- <section class={`w-full lg:w-[740px] mx-auto} ${Astro.props.class}`}> -->
<section id={id} class={`w-full lg:w-[740px]   mx-auto flex-column justify-center} ${className}`}>
    <slot />
</section>

<!-- RESPONSIVE
max-w-screen-xl -->
