---
import "@fontsource-variable/teachers";
import "@fontsource-variable/kalnia";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="{description}" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Lina Aparicio</title>

		<!-- Bootsrap Icons -->
		<!-- <link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		/> -->
	</head>
	<body class="relative h-full w-full bg-white">
		<!-- <div class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div> -->
			<div class="absolute inset-0 z-[-1] bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"></div>
		<Header client:load  />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Teachers Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: #fff;
		color: #000;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}


	.main-title {
		font-family: "Kalnia Variable", system-ui, sans-serif;
	}

	.social-container a {
		color: #a9d6e0;
	}

	.social-container a:hover {
		color: #575757;
	}
</style>


